* {
  margin: 0;
  padding: 0;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.ibput-box {
  padding: 0.5em 12em 0.5em 1em;
  font-size: 1.5em;
}

.main-div h2 {
  font-size: 2em;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-size: 2em;
  border: 1px solid rgba(0, 0, 0, 0.411);
}

ul li input {
  width: 2em;
  height: 2em;
}

ul li p {
  padding: 0.2em 6em;
  margin: 0.2em;
}

.clear-btn {
  font-size: 2em;
  letter-spacing: 4px;
  font-weight: 400 !important;
  background-color: rgb(223, 223, 223);
  color: #000;
  padding: 1em 4.2em;
  border: 0px;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}
